.threeDot {
    display: none;
}

/* Medium Devices (Tablets and Small Laptops): max-width 1024px */
@media only screen and (max-width: 1024px) {
    .hideOnMobile {
        display: none;
    }

    .threeDot {
        display: block;
    }

    #banner {
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner-img {
        margin: 50px;
        margin-bottom: 0px;
    }

    .banner-text {
        margin: 50px;
        margin-top: 20px;
    }


}

/* Small Devices (Mobile Phones): max-width 600px */
@media only screen and (max-width: 600px) {
    .sideBar {
        width: 100%;
    }

    nav li:first-child {
        font-size: 18px;
        font-weight: 600;
        margin-right: auto;
    }

    #banner {
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner-img {
        margin: 50px;
        margin-bottom: 0px;
    }

    .banner-text {
        margin: 50px;
        margin-top: 20px;
    }

}